[ req ]
prompt  = no
default_md  = sha256
distinguished_name  = dn
req_extensions      = req_ext

[ dn ]
CN = system:node:worker3
O  = system:nodes

[ req_ext ]
subjectAltName  = @alt_names

[ alt_names ]
DNS.1 = worker3
DNS.2 = worker3.k8s.local
IP.1  = 10.20.0.13
